@use "../../styles/globals" as global;
@use "../../styles/media" as media;

.containerProfile {
    width: 100%;
    padding: 25px 20px;
}

.contentProfile {
    display: flex;
    gap: 10px;
    align-items: center;

    @include media.desktop {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.imageProfile {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;

    @include media.tablet {
        width: 150px;
        height: 150px;
    }

    @include media.desktop {
        width: 260px;
        height: 260px;
        max-width: 100%;
        height: 100%;
    }
}

.aboutProfile {
    color: black;

    h1 {
        font-weight: global.$text-style-bold;
        color: global.$default-color;
        font-size: global.$text-style-title;

    }

    p {
        font-weight: global.$text-style-regular;
        color: global.$slate-grey-color;
        font-size: global.$text-style-paragraph;
    }

    @include media.desktop {
        text-align: center;
    }
}