@use "../../styles/globals" as global;
@use "../../styles/media" as media;

.containerSearch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    border: 1px solid global.$light-color;
    border-radius: 3px;
    padding: 10px 15px;

    input {
        outline: none;
        border: none;
        color: global.$warm-grey-color;
        font-size: global.$text-style-paragraph;

        &::placeholder {
            color: global.$light-color;
        }
    }

    svg {
        color: global.$warm-grey-color;
    }

    @include media.tablet {
        max-width: 340px;
    }
}