@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

$rusty-orange-color: #E36209;
$white-color: #ffff;
$white-two-color: #E3E3E3;
$pale-grey-color: #E1E4E8;
$light-color: #c2c4c6;
$warm-grey-color: #999999;
$brownish-grey-color: #666666;
$slate-grey-color:#5C646D;
$slate-grey-two-color: #586069;
$default-color: #2d3136;

$text-style-fontweight: 700;
$text-style-two-fontsize: 7px;
$text-style-two-fontweight: 400;

$text-style-title: 24px;
$text-style-paragraph: 16px;
$text-style-small: 12px;
$text-style-fontsize: 10px;
$text-style-two-fontsize: 7px;
$text-style-regular: 400;
$text-style-bold: 700;

@mixin tablet {
  @media (min-width: 480px) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
      @content;
  }
}

