@use "./styles/globals" as *;

.containerMain {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* @include desktop {
        
    } */
    main {
        width: 100%;
    }
}